<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/index.html">Challenge Sport Rouen</h1>
		<nav id="nav">
			<ul>				
				<li><a href="{{ site.baseurl }}/index.html"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Accueil</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li>
					<a href=""><i class="fa fa-angle-down fa-fw" aria-hidden="true"></i>&nbsp; Layouts</a>
					<ul>
						<li><a href="#">Generic</a></li>
						<li><a href="#"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Contact</a></li>
						<li><a href="#">Elements</a></li>
						<li>
							<a href=""><i class="fa fa-angle-down fa-fw" aria-hidden="true"></i>&nbsp; Submenu</a>
							<ul>
								<li><a href="#">Option One</a></li>
								<li><a href="#">Option Two</a></li>
								<li><a href="#">Option Three</a></li>
								<li><a href="#">Option Four</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#" class="button">Sign Up</a></li>
			</ul>
		</nav>
	</header>
	
